{
  "presets": ["@babel/preset-env"],
  "sourceMaps": true,
  "ast": false,
  "minified": false,
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@utils": "./src/utils",
          "@components": "./src/components",
          "@adapters": "./src/adapters",
          "@integrations": "./src/integrations"
        }
      }
    ],
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-export-namespace-from"
  ]
}
