@import '../../styles/component.scss';

.section-card-container {
  composes: container from global;
}

.section-card-row {
  composes: row from global;
}

.section-card-col {
  composes: col-12 col-md from global;
}
