.module-hero-inner-wrap {
  composes: container sub-section from global;
}

.header-wrap {
  * {
    margin-bottom: 0;
  }

  margin-bottom: 1rem;
}

.summary-wrap {
  * {
    margin-bottom: 0;
  }

  margin-bottom: 1rem;
}
