/* ====================
  Base / Fonts
  ===================== */

/*
@font-face {
  font-family: "Favorit";
  font-weight: $font-weight-lighter;
  src: url("../fonts/FavoritStd-Light.woff2") format("woff2"),
       url("../fonts/FavoritStd-Light.woff") format("woff");
}
*/